<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
<h2>Liste des médecins</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Prenom</th>
	<th>Specialité</th>
	 <th>numeroordre</th>
	 <th>Tél</th>
	 <th>email</th>
	 <th>actif</th>
	     
	   
</tr>

<tr th:each="m : ${medecins}">
    <td th:text="${m.id}"></td>
    <td th:text="${m.nom}"></td>
	<td th:text="${m.prenom}"></td>
    <td th:text="${m.specialite}"></td>
	<td th:text="${m.numeroOrdre}"></td>
	 <td th:text="${m.telephone}"></td>
	 <td th:text="${m.email}"></td>
	 <td th:text="${m.actif}"></td>
	 <td>
	       <a th:href="@{'/admin/medecins/edit/' + ${m.id}}">✏️ Modifier</a>

	        |

	        <a th:href="@{'/medecins/delete/' + ${m.id}}"
	           onclick="return confirm('Supprimer ?')">
	            ❌ Supprimer
	        </a>
	    </td>
		
	
</tr>

</table>
</div>
</div>
</body>
</html>